.git
.gitignore
.env
.venv/
venv/
env/
ENV/
__pycache__/
**/__pycache__/
**/migrations/__pycache__/
*.pyc
*.pyo
*.pyd
*.log

/media/
/staticfiles/
/static_root/
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
*.bak
*.tmp