*.pyc
*.pyo
*.pyd
*.py[cod]
$py.class
__pycache__/
**/migrations/__pycache__/

*.log
/media/
/staticfiles/
/ste3tatic_root/

proyecto_3/config/settings_local.py

.venv/
venv/
env/
ENV/
.env
.env.*
!.env.example

.vscode/
.idea/
*.swp
*.swo
*.suo
notepad*/

.DS_Store
Thumbs.db
desktop.ini

*.bak
*.tmp
limpiar_base.py
